<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MerchantMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />

    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/js/site.js"></script>
    <script>
        function toggleNav() {
            if ($(window).width > 780) {
                $("#ulMenu").hide();
            }
               
            
            }

        $(document).ready(function () {
           
            toggleNav();
           
            $("#sidebarCollapse").on('click', function () {
                $("#sidebar").toggleClass('active');
            });
           

            $('#btnToggle').click(function (e) {
                    e.preventDefault();
                $("#ulMenu").show();
                   
                });


               
            });
    </script>
</head>

<body>

    <header>
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <a class="m-0" href="#">
                <img class="logo" src="~/img/Elogo.bmp" alt="" />
            </a>
            <div class="container" >

                <button class="navbar-toggler navbar-dark" id="btnToggle" style="background-color:#007CB2" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" >
                    <ul class="navbar-nav flex-grow-1 hide" id="ulMenu">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Merchant" asp-action="Edit">Merchant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Location" asp-action="Index">Locations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="FeedBack" asp-action="Index">Feedback</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Call Tracking
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="CallTracking" asp-action="AddSupportCall">Add Support Call</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Links">Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Report" asp-action="ShowReport">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " target="_blank" href=" https://www.youtube.com/watch?v=Mv3_IAsz1XQ">Training</a>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="mr-auto float-right" style="color:#007CB2" id="ulLog">

                @if (User.Identity.IsAuthenticated)
                {
                <span>@User.Identity.Name</span>
                <a class="nav-link " asp-action="Logout" asp-controller="Account"><i class="fas fa-sign-out-alt"></i>Logout</a>
                }

            </div>
        </nav>
        </header>
        @*<div>
            <a class="m-0" href="">
                <img src="~/img/Elogo.bmp" alt="" />
            </a>

        </div>*@

        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow ">
            <div class="container">

                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="nav navbar-nav">
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span class="text-white">@User.Identity.Name</span>
                                <a class="nav-link  text-white" asp-action="Logout" asp-controller="Account"><i class="fas fa-sign-out-alt"></i>Logout</a>
                            }

                        </li>
                    </ul>


                </div>
            </div>
        </nav>*@
 

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            @*<div style="width:180px;background-color:#fff;">
                <a href="">
                    <img class="logo" src="~/img/Elogo.bmp" alt="" />
                </a>

            </div>*@
            <div class="p-4 pt-5">
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a asp-controller="Merchant" asp-action="Edit">Merchant</a>
                        <a asp-controller="Location" asp-action="Index">Locations</a>
                        <a asp-controller="Feedback" asp-action="Index">Feedback</a>
                        <a href="#callTrackingMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Call Tracking</a>
                        <ul class="collapse list-unstyled" id="callTrackingMenu">
                            <li>
                                <a asp-area="" asp-controller="CallTracking" asp-action="AddSupportCall">Add Call Tracking</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Links">Links</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Report" asp-action="ShowReport">Reports</a>
                    </li>
                    <li>
                        <a target="_blank" href=" https://www.youtube.com/watch?v=Mv3_IAsz1XQ">Training</a>
                    </li>
                </ul>
            </div>

        </nav>

        <div class="content">
            @RenderBody()
            @*<div class="content-wrapper">

            </div>*@
        </div>

        <footer class="footer text-center text-white">
            Copyright &copy; @DateTime.Now.Year Electrum Corporation. All rights reserved.
        </footer>

    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
