@model MerchantMVC.ViewModels.EditLocationViewModel

@{ ViewData["Title"] = "Edit"; }

<div class="container">

    <div class="card" style="width:auto">
        <div class="card-header">
            Edit
        </div>
        <div class="card-body">

            <form asp-action="Edit">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="LName" class="control-label">Location Name</label>
                            <input asp-for="LName" class="form-control" />
                            <span asp-validation-for="LName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LFname" class="control-label">Contact First Name</label>
                            <input asp-for="LFname" class="form-control" />
                            <span asp-validation-for="LFname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LLname" class="control-label">Contact Last Name</label>
                            <input asp-for="LLname" class="form-control" />
                            <span asp-validation-for="LLname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EmailAddr" class="control-label">Contact Email Address</label>
                            <input asp-for="EmailAddr" class="form-control" />
                            <span asp-validation-for="EmailAddr" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="LPhone" class="control-label">Contact Phone</label>
                            <input asp-for="LPhone" class="form-control" />
                            <span asp-validation-for="LPhone" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="LAddr1" class="control-label">Address1</label>
                            <input asp-for="LAddr1" class="form-control" />
                            <span asp-validation-for="LAddr1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LAddr2" class="control-label">Address2</label>
                            <input asp-for="LAddr2" class="form-control" />
                            <span asp-validation-for="LAddr2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LCity" class="control-label">City</label>
                            <input asp-for="LCity" class="form-control" />
                            <span asp-validation-for="LCity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LState" class="control-label">State</label>
                            <input asp-for="LState" class="form-control" />
                            <span asp-validation-for="LState" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LZip" class="control-label">Zip</label>
                            <input asp-for="LZip" class="form-control" />
                            <span asp-validation-for="LZip" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Latitude" class="control-label"></label>
                            <input asp-for="Latitude" class="form-control" />
                            <span asp-validation-for="Latitude" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Longitude" class="control-label">Store Brand</label>
                            <input asp-for="Longitude" class="form-control" />
                            <span asp-validation-for="Longitude" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="MerchantNumber" class="control-label">Merchant Number</label>
                            <input asp-for="MerchantNumber" class="form-control" />
                            <span asp-validation-for="MerchantNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LocationStatus" class="control-label"></label>
                            <input asp-for="LocationStatus" class="form-control" />
                            <span asp-validation-for="LocationStatus" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TimeZone" class="control-label"></label>
                        <select id="ddlStatus" class="form-control" data-image="1.png">
                            <option selected value="-5">Eastern (-5)</option>
                            <option value="-6">Central (-6)</option>
                            <option value="-7">Mountain (-7)</option>
                            <option value="-8">Pacific (-8)</option>
                            <option value="-9">Alaska (-9)</option>
                            <option value="-10">Hawaii-Aleutian (-10)</option>
                        </select>
                            <input asp-for="TimeZone" type="hidden" id="hdnTimeZone" />
                            <span asp-validation-for="TimeZone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Brand" class="control-label">Store Brand</label>
                            <input asp-for="Brand" class="form-control" />
                            <span asp-validation-for="Brand" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FuelBrand" class="control-label">Fuel Brand</label>
                            <input asp-for="FuelBrand" class="form-control" />
                            <span asp-validation-for="FuelBrand" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Url" class="control-label">URL</label>
                            <input asp-for="Url" class="form-control" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="DefaultOriginationDeviceId" class="control-label">Origination Device</label>
                            <input asp-for="DefaultOriginationDeviceId" class="form-control" />
                            <span asp-validation-for="DefaultOriginationDeviceId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PosmaintSupport" class="control-label">POS Support Contact</label>
                            <input asp-for="PosmaintSupport" class="form-control" />
                            <span asp-validation-for="PosmaintSupport" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PosmaintSupportPhone" class="control-label">POS Support Phone</label>
                            <input asp-for="PosmaintSupportPhone" class="form-control" />
                            <span asp-validation-for="PosmaintSupportPhone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

                <div class="row d-flex justify-content-center">
                    @if (ViewBag.message != null)
                    {
                    <div class="@(ViewBag.message.Contains("success")? "alert alert-success alert-dismissible":"alert alert-danger alert-dismissible")">
                        <a href="#" aria-label="close" data-dismiss="alert" class="close">&times;</a>
                        @ViewBag.message
                    </div>
                    }
                </div>
            </form>
        </div>
    </div>




    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="@(Model.ActiveTab==MerchantMVC.ViewModels.EditLocationViewModel.Tab.LoyaltyTransaction? "active":string.Empty)">
                    <a asp-route-tabname="LoyaltyTransaction" asp-action="SwitchTabs">
                        <span class="glyphicon glyphicon-credit-card"></span> Loyalty Transaction
                    </a>
                </li>

                <li class="@(Model.ActiveTab==MerchantMVC.ViewModels.EditLocationViewModel.Tab.CurrentTransaction? "active":string.Empty)">
                    <a asp-route-tabname="CurrentTransaction" asp-action="SwitchTabs">
                        <span class="glyphicon glyphicon-tasks"></span>  Current Transaction
                    </a>
                </li>

                <li class="@(Model.ActiveTab==MerchantMVC.ViewModels.EditLocationViewModel.Tab.SupportCalls? "active":string.Empty)">
                    <a asp-route-tabname="SupportCalls" asp-action="SwitchTabs">
                        <span class="glyphicon glyphicon-tasks"></span> Support Calls
                    </a>
                </li>

                <li class="@(Model.ActiveTab==MerchantMVC.ViewModels.EditLocationViewModel.Tab.Batches? "active":string.Empty)">
                    <a asp-route-tabname="Batches" asp-action="SwitchTabs">
                        <span class="glyphicon glyphicon-tasks"></span> Batches
                    </a>
                </li>
                <li class="@(Model.ActiveTab==MerchantMVC.ViewModels.EditLocationViewModel.Tab.Terminal? "active":string.Empty)">
                    <a asp-route-tabname="Terminal" asp-action="SwitchTabs">
                        <span class="glyphicon glyphicon-tasks"></span>  Terminal
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="card-body overflow-auto">
        @switch (Model.ActiveTab)
        {
            case MerchantMVC.ViewModels.EditLocationViewModel.Tab.LoyaltyTransaction:
                @await Component.InvokeAsync("LoyaltyTran");
            break;
            case MerchantMVC.ViewModels.EditLocationViewModel.Tab.Terminal:
                @await Component.InvokeAsync("Terminal");
            break;
            case MerchantMVC.ViewModels.EditLocationViewModel.Tab.Batches:
                @await Component.InvokeAsync("Batches");
            break;

            }
    </div>




</div>
