@model IEnumerable<MerchantMVC.ViewModels.CallTrackingViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutV";
}

<h2>Support Call Tracking</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackingDTFormatted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model == null)
        {
            <tr>
                <td>
                    No Support Calls found.
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackingDTFormatted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackingTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriorityName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusName)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
