@model IEnumerable<MerchantMVC.ViewModels.TerminalViewModel>

@{
    ViewData["Title"] = "Terminal List";
    Layout = "_LayoutV";
}

<p>
    <a asp-action="Create">Create New Terminal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermDescrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermDescrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
}
    </tbody>
</table>
